@charset "UTF-8";
@import url(c:\Users\Виктор\Desktop\верстка\мой сайт\node_modules\bootstrap\dist\css\bootstrap-grid.min.css);
@import url(c:\Users\Виктор\Desktop\верстка\мой сайт\node_modules\normalize.css\normalize.css);
@import url(c:\Users\Виктор\Desktop\верстка\мой сайт\node_modules\swiper\swiper-bundle.min.css);
img {
  width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #2B2A2A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 90px;
  height: 5px;
  background-color: #00958C;
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 63px;
}

.header {
  padding: 30px 0 20px;
  z-index: 2;
  position: relative;
}

.header__button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 3px solid transparent;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.main {
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 0 80px;
  color: #fff;
  position: relative;
  z-index: 0;
}

.main::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #2E2F41;
  opacity: 0.8;
  font-weight: 900;
  font-size: 35px;
  line-height: 48px;
}

.main__wrapper {
  position: relative;
  z-index: 1;
}

.main__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

.main__image-item {
  object-fit: cover;
  border-radius: 40px;
}

.skills {
  padding: 30px 0;
  position: relative;
}

.skills::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  opacity: 0.1;
}

.skills__title {
  margin-bottom: 60px;
}

.skills__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.skills__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 35px;
  margin-right: 40px;
}

.study {
  padding: 30px 0 40px;
  position: relative;
}

.study::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  opacity: 0.1;
}

.study__title {
  margin-bottom: 60px;
}

.study__subtitle {
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
  margin-top: 0;
  margin-bottom: 30px;
}

.study__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.portfolio {
  padding: 30px 0 40px;
  position: relative;
}

.portfolio::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  opacity: 0.1;
}

.portfolio__title {
  margin-bottom: 60px;
}

.portfolio__swiper {
  padding-bottom: 10px;
}

.portfolio__slide {
  position: relative;
  cursor: pointer;
  border: 5px solid transparent;
}

.portfolio__slide-image {
  height: 170px;
}

.portfolio__slide--active {
  border: 5px solid #00B7AF;
}

.portfolio__button {
  width: 60px;
  height: 60px;
  background-color: #00B7AF;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio__button-prev {
  left: 0;
  background-image: url(../img/prev.svg);
}

.portfolio__button-next {
  right: 0;
  background-image: url(../img/next.svg);
}

.portfolio__content {
  padding-top: 10px;
}

.portfolio__content-description {
  padding-right: 10px;
}

.portfolio__content-image {
  height: auto;
}

.portfolio__content-item {
  display: none;
}

.portfolio__content-item--active {
  display: block;
}

.portfolio__content-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.portfolio__content-text, .portfolio__content-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.portfolio__content-link {
  text-decoration: none;
  color: inherit;
}

.contacts {
  padding: 20px 0 100px;
  background-color: #2E2F41;
  color: #fff;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts__info {
  margin-bottom: 30px;
}

.contacts__name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 10px;
}

.contacts__link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.contacts__social-link {
  width: 50px;
  height: 50px;
  text-decoration: none;
  margin-right: 30px;
}

.contacts__social-icon {
  width: 50px;
  height: 50px;
}

.to-top {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 20px;
  z-index: 100;
  width: 40px;
  height: 40px;
}

.to-top--visible {
  display: block;
}

@media (min-width: 992px) {
  .nav__item:hover {
    border-bottom: 3px solid #fff;
  }
  .portfolio__slide {
    position: relative;
  }
  .portfolio__slide::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00B7AF;
    opacity: 0;
  }
  .portfolio__slide:hover::before {
    opacity: 0.5;
  }
  .portfolio__content-link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1400px) {
  .main__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
  }
  .main__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 38px;
    line-height: 50px;
  }
  .portfolio__slide-image {
    height: 140px;
  }
  .portfolio__content-link {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .nav__link {
    font-size: 16px;
  }
  .main__title {
    font-size: 20px;
    line-height: 28px;
  }
  .main__text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
  .header__button {
    display: flex;
  }
  .nav__list {
    display: none;
  }
  .nav__list--visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 100;
    height: 100vh;
    background-color: #2E2F41;
    padding: 30px 15px 0 50px;
  }
  .nav .main {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .skills {
    padding: 10px 0;
  }
  .skills__title {
    margin-bottom: 30px;
  }
  .skills__subtitle {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .skills__text {
    font-size: 16px;
    line-height: 24px;
    margin-right: 0;
  }
  .study__title {
    margin-top: 0;
  }
  .study__subtitle {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .study__text {
    font-size: 16px;
    line-height: 24px;
  }
  .portfolio__button {
    width: 40px;
    height: 40px;
  }
  .portfolio__content-title {
    font-size: 18px;
    line-height: 26px;
  }
  .portfolio__content-text {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .title::before {
    width: 50px;
  }
  .container {
    max-width: 90%;
  }
  .portfolio__slide-image {
    height: 110px;
  }
  .contacts__name, .contacts__link {
    font-size: 20px;
    line-height: 28px;
  }
  .contacts__social-link, .contacts__social-icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 360px) {
  .portfolio__slide-image {
    height: 95px;
  }
  .portfolio__button {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */